/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px auto 50px;
    grid-gap: 25px;
}


h1 {
    justify-self: start;
}


ul {
  display: flex;          
  justify-content: flex-end; 
  list-style: none;       
  margin: 0;
  padding: 0;
}

