/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-gap: 25px;
    
}


h1 {
    display: flex;          
    justify-content: flex-start;
    margin: 0;
    padding: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    font-size: 18px;
}


ul {
    display: flex;          
    justify-content: flex-end; 
    list-style: none; 
    gap: 10px;
    margin: 0;
    padding: 50px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 18px;
}

ul li a {
    color: #6b7280;
}

ul li a:hover {
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
    padding: 20px;
}

.overview-hero .container {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}


.learn-about .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 30px auto 50px;
    grid-gap: 25px;
}

.learn-about .container h2 {
    color: #48BB78;
    font-size: 24px;
}

.learn-about .container h3 {
    color: #48BB78;
    font-size: 21px;
}

.learn-about .cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 350px auto 50px;
    gap: 25px; 
    justify-content: center; 
    justify-items: center; 
    align-items: start;    
}

.learn-about .card {
    max-width: 300px; 
    height: 470px;
    text-align: center; 
    border-style: solid;
    border-width: 5px;
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 5px 5px;
}

.testing {
    background-color: #4A5568;
    padding: 20px;
    color: white;
   
}

.testing .container {
    display: flex;
    gap: 80px;
    justify-content: space-evenly;
}

.testing .container .cta .btn {
    background-color: #48BB78;
    border-radius: 5px;
}

.stories .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 30px auto 50px;
    grid-gap: 25px;
}

.stories .container h2 {
    color: #5A67D8;
}

.stories .container article  {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; 
    gap: 50px;
}

.stories .container article img {
    margin-right: 15px;         
    flex-shrink: 0;  
}

.article-body a {
    color: #5A67D8;
}
