/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 300px auto 50px;
    grid-gap: 25px;
}


h1 {
    display: flex;          
    justify-content: flex-start;
    margin: 0;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


ul {
  display: flex;          
  justify-content: flex-end; 
  list-style: none; 
  gap: 10px;
  margin: 0;
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

