/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px auto 50px;
    grid-gap: 25px;
}


h1 {
    display: flex;          
    justify-content: flex-start;
    margin: 0;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}


ul {
  display: flex;          
  justify-content: flex-end; 
  list-style: none; 
  gap: 10px;
  margin: 0;
  padding: 15px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.overview-hero .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto 50px;
    grid-gap: 25px;
}

.overview-hero overview-hero-image {
    display: flex;          
    justify-content: flex-start;
    margin: 0;
    padding: 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.overview-hero overview-hero-text {
    display: flex;          
    justify-content: flex-end; 
    margin: 0;
    padding: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
   grid-row-end: 2;
}

.learn-about .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 400px auto 50px;
    grid-gap: 25px;
}

.learn-about .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 350px auto 50px;
    gap: 25px; 
    justify-content: center; 
    justify-items: center; 
    align-items: start;    
}


.learn-about .card {
    max-width: 300px; 
    text-align: center; 
}
